### Importing The Important Modules From The Library As Well As Install The Libraries

In [2]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\sagni\anaconda3\lib\site-packages (0.12.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sagni\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\sagni\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\sagni\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sagni\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sagni\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from imblearn.over_sampling import SMOTE
from collections import Counter

### Load The Dataset

In [4]:
df=pd.read_csv("creditcard.csv")#Load the dataset

In [5]:
df.head()#Check the head

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
# check the total row and the column of the dataset
df.shape

(284807, 31)

### Data Cleaning

In [7]:
#check the missing value
mv=df.isnull().sum()
print(mv)

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
df.info() #for knowing the information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

### Preprocess and Normalize

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
# Create copies of the dataframe to preserve the original
df_processed = df.copy()

scaler = StandardScaler()
# Normalize 'Amount' and 'Time' columns using StandardScaler

df_processed[['Amount', 'Time']] = scaler.fit_transform(df_processed[['Amount', 'Time']])

In [11]:

# Display first few rows after normalization
df_processed.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.996583,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,-1.996583,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,-1.996562,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,-1.996562,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,-1.996541,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

### Separate features and Target

In [12]:

X= df.drop('Class', axis=1)  # Features (V1â€“V28, Time, Amount)
y = df['Class']  # Target (0 = genuine, 1 = fraudulent)

In [13]:
# Check x
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [14]:
# Class y
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

### Spliting

In [15]:
# Split the dataset into training and testing sets (70% train, 30% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [16]:
# Check original class distribution in training set
print("Original class distribution:",Counter(y_train))

Original class distribution: Counter({0: 199020, 1: 344})

### Sampling Technique used for undersampling and oversampling by SMOTE Class distribution technique

In [17]:
# Oversampling with SMOTE
smote = SMOTE(random_state=100)
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)
print("SMOTE class distribution:", Counter(y_train_smote))

SMOTE class distribution: Counter({0: 199020, 1: 199020})

In [18]:
y_train_smote.shape

(398040,)

In [19]:
y_train_smote

0         0
1         0
2         0
3         0
4         0
         ..
398035    1
398036    1
398037    1
398038    1
398039    1
Name: Class, Length: 398040, dtype: int64

In [20]:
#Option 2: Undersampling with RandomUnderSampler
from imblearn.under_sampling import RandomUnderSampler
undersampler = RandomUnderSampler(random_state=100)
X_train_under, y_train_under = undersampler.fit_resample(X_train, y_train)
print("Undersampled class distribution:", Counter(y_train_under))

Undersampled class distribution: Counter({0: 344, 1: 344})

### Model Building (Logistic regression)

In [21]:
# Build Logistic Regression model
lr_model = LogisticRegression(max_iter=1000, random_state=100)
lr_model.fit(X_train_smote, y_train_smote)

LogisticRegression(max_iter=1000, random_state=100)

In [22]:
# Predict on the test set
y_pred = lr_model.predict(X_test)

In [23]:
y_pred.shape

(85443,)

In [24]:
y_pred

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [25]:
# Evaluate the model
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

In [26]:
print("Confusion Matrix:\n", conf_matrix)
print("\nClassification Report:\n", class_report)

Confusion Matrix:
 [[84121  1174]
 [   19   129]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.99      0.99     85295
           1       0.10      0.87      0.18       148

    accuracy                           0.99     85443
   macro avg       0.55      0.93      0.59     85443
weighted avg       1.00      0.99      0.99     85443

### Give the Unseen data to check the model

In [27]:
new_data = {
    'Time': [100000],  
    'V1': [-1.3598], 'V2': [-0.0728], 'V3': [2.5363], 'V4': [1.3782], 'V5': [-0.3383],
    'V6': [0.4624], 'V7': [0.2396], 'V8': [0.0987], 'V9': [0.3638], 'V10': [0.0908],
    'V11': [-0.5516], 'V12': [-0.6178], 'V13': [-0.9914], 'V14': [-0.3111], 'V15': [1.4682],
    'V16': [-0.4704], 'V17': [0.2079], 'V18': [0.0258], 'V19': [0.4039], 'V20': [0.2514],
    'V21': [-0.0183], 'V22': [0.2778], 'V23': [-0.1105], 'V24': [0.0669], 'V25': [0.1285],
    'V26': [-0.1891], 'V27': [0.1336], 'V28': [-0.0211],
    'Amount': [149.62]  
}

In [28]:
# Normalize Time and Amount just like training
new_df = pd.DataFrame(new_data)
new_df[['Time', 'Amount']] = scaler.fit_transform(new_df[['Time', 'Amount']])

In [29]:
# Prediction
new_prediction = lr_model.predict(new_df)

In [30]:
#Checking
if new_prediction[0] == 1:
    print("ðŸ”´ ALERT: Fraudulent Transaction Detected!")
else:
    print("ðŸŸ¢ Genuine Transaction.")

ðŸŸ¢ Genuine Transaction.

In [31]:
 new_data1=  {
    'Time': [40600], 
    'V1': [-3.0435], 'V2': [2.0432], 'V3': [1.2804], 'V4': [0.4227], 'V5': [2.1260],
    'V6': [1.7606], 'V7': [1.2534], 'V8': [-1.7349], 'V9': [-2.1747], 'V10': [-1.7426],
    'V11': [2.1779], 'V12': [-0.5484], 'V13': [0.1587], 'V14': [0.3112], 'V15': [-1.3456],
    'V16': [-1.0330], 'V17': [0.2222], 'V18': [0.4996], 'V19': [-1.3893], 'V20': [-2.2154],
    'V21': [-2.1373], 'V22': [-0.1426], 'V23': [-1.3238], 'V24': [-1.4169],
    'V25': [-0.8182], 'V26': [0.4540], 'V27': [0.5667], 'V28': [0.3434],
    'Amount': [1.00]
}

In [32]:
# Normalize Time and Amount just like training
new_df1 = pd.DataFrame(new_data1)
new_df1[['Time', 'Amount']] = scaler.fit_transform(new_df1[['Time', 'Amount']])

In [33]:
# Prediction
new_prediction1 = lr_model.predict(new_df1)

In [34]:
#Checking
if new_prediction1[0] == 1:
    print("ðŸ”´ ALERT: Fraudulent Transaction Detected!")
else:
    print("ðŸŸ¢ Genuine Transaction.")

ðŸ”´ ALERT: Fraudulent Transaction Detected!

#### Conclusion:- The logistic regression model achieves an accuracy of 0.99, suggesting it is quite capable of detecting both fraud and genuine cases. However, using a Random Forest model might also be a strong choice, as it is well-suited for handling such cases